body, html {
    padding: 0px;
    margin: 0px;
    background-color: aqua;
    height: 100%;
}

.modal:hover {
    display: block;
    opacity: 1;
    height: 100%;
    width: 100%;
}

button:focus + div {
    display: block;
    height: 100%;
    width: 100%;
}

.modal {
    background-color: rgba(0,0,0, 0.5);
    height: 0px;
    overflow: hidden;
    position: fixed;
    width: 0px;
    top: 0px;
    display: none;
    opacity: 0;
    transition: opacity .4s linear;
}



.modal-body {
    height: 400px;
    width: 400px;
    background-color: white;
    font-size: 24px;
    text-align: center;
    margin: 15% auto;
    position: relative;
}

ul {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 1024px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div {
    width: 20%;
}

main {
    height: 100%;
    width: 1024px;
    margin: 0px auto;
}
section:first-child{
    height: 100%;
    background-color:burlywood
}

section:last-child{
    height: 100%;
    background-color:cornsilk;
}