@font-face {
    font-family: replay;
    src: url("../fonts/BPreplayExtended.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: replay, sans-serif, Georgia, 'Times New Roman';
}

body {
    background-color: #ebebeb;
    display: flex;
}

#left {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#left .logo {
    padding: 40px 0 0 40px;
}

#left .logo img {
    height: 50px;
}

#left .side-items {
    margin-top: 40px;
}

#left .side-items li {
    list-style: none;
    transition: 0.3s ease;
    cursor: pointer;
}

#left .side-items li:hover {
    background-color: #00000021;
}

#left .side-items li i {
    line-height: 80px;
    font-size: 20px;
    margin: 0 20px 0 40px;
    text-align: center;
}

#left .side-items li a {
    text-decoration: none;
    font-size: 20px;
}

#right {
    width: calc(100% - 300px);
    background-color: #ebebeb;
    margin: 0 0 0 300px;
    position: relative;
}


#right nav {
    background-color: white;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #ebebeb;
    width: calc(100% - 300px);
    position: fixed;
}

#side-toggler {
    display: none;
    font-size: 50px;
    cursor: pointer;
    margin: 0 40px 0 0;
    transition: 0.3s ease;
}

#side-toggler:hover {
    background-color: #00000021;
}

#right nav .burg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#right nav .search {
    border: 3px solid gray;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 20px;
}

#right nav .search i {
    color: gray;
    font-size: 30px;
    margin: 0 10px 0 0;
}

#right nav .search input {
    font-size: 20px;
    color: gray;
    border: none;
    outline: none;
}

#right nav .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#right nav .user div {
    margin: 0 20px 0 20px;
}

#right nav .user div p {
    color: gray;
    font-size: 12px;
    text-align: end;
}

#right nav .user div h5 {
    color: black;
    font-size: 18px;
    text-align: end;
}

#right nav .user img {
    height: 50px;
    border-radius: 50%;
}

#right main {
    margin-top: 100px;
}
/* dashboard starts here */
#dash-cards {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#dash-cards .card {
    background-color: white;
    width: 350px;
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 10px 10px;
    flex-grow: 1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
}

#dash-cards .card i {
    font-size: 80px;
    margin: 0 20px 0 0;
}

#dash-cards .card h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600px;
}

#dash-cards .card h5 {
    font-size: 15px;
    color: gray;
}

#dash-graphs {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#dash-graphs .graph {
    background-color: white;
    width: 740px;
    height: 700px;
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    overflow: auto;
    margin: 0 10px 10px 10px;
    flex-grow: 1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
}
/* reports starts here */
.report-config-container {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.report-config-container select {
    background-color: white;
    height: 50px;
    padding: 0 10px 0 10px;
    border: 3px solid gray;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    align-items: center;
    color: black;
    line-height: 20px;
    margin-right: 10px;
    transition: 0.3s ease;
}

.report-config-container button {
    height: 50px;
    width: 50px;
    text-align: center;
    align-self: center;
    font-size: 40px;
    color: white;
    padding-top: 3px;
    transition: 0.3s ease;
}

.report-config-container button:hover {
    background-color: #fcf9f9;
    color: black;
}

.report-config-container button:active {
    font-size: 35px;
}
/* deals status starts here */
#deals-status-container {
    padding: 40px 40px 0 40px;
}
/* my products starts here */
.form-btn-container {
    padding: 40px 40px 0 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-btn-container div {
    background-color: white;
    height: 50px;
    padding: 12px 10px 10px 10px;
    border: 3px solid gray;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    align-items: center;
    color: black;
    line-height: 20px;
    margin-right: 10px;
}

.form-btn-container button {
    height: 50px;
    width: 50px;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    padding-top: 3px;
    transition: 0.3s ease;
}

.form-btn-container button:hover {
    background-color: #fcf9f9;
    color: black;
}

.form-btn-container button:active {
    font-size: 35px;
}

.product-container {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-container .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
}

.product-container .card .prod-categ {
    height: 50px;
    color: black;
    text-align: center;
    align-content: center;
    line-height: 40px;
    font-size: 20px;
}

.product-container .card .prod-name {
    height: 100px;
    color: white;
    text-align: center;
    align-content: center;
    line-height: 50px;
    font-size: 40px;
    font-weight: 1000;
    overflow-x: auto;
    transition: 0.3s ease;
}

.product-container .card:hover .prod-name{
    color: black;
    background-color: white;
    font-size: 50px;
}

.product-container .card .prod-config {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px 0 0;
}

.product-container .card .prod-config li {
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
}

.product-container .card .prod-config li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}
/* my team starts here */
.teammate-container {
    padding: 40px 40px 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.teammate-container .card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1);
}

.teammate-container .card .teammate-categ {
    height: 50px;
    color: black;
    text-align: center;
    align-content: center;
    line-height: 40px;
    font-size: 20px;
}

.teammate-container .card .teammate-name {
    height: 80px;
    color: white;
    text-align: center;
    align-content: center;
    line-height: 40px;
    font-size: 25px;
    font-weight: 1000;
    overflow-x: auto;
    transition: 0.3s ease;
}

.teammate-container .card:hover .teammate-name{
    color: black;
    background-color: white;
    font-size: 40px;
}

.teammate-container .card .teammate-config {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px 0 0;
}

.teammate-container .card .teammate-config li {
    margin-right: 20px;
    list-style: none;
    cursor: pointer;
}

.teammate-container .card .teammate-config li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}
/* table style starts here */
.table {
    padding: 40px 40px 0 40px;
}

.table table {
    width: 100%;
    border: 3px solid gray;
    border-radius: 5px;
}

.table table tr {
    border-bottom: 1px gray;
}

.table table th {
    color: white;
    padding: 20px;
    font-size: 18px;
}

.table table td {
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
}

.table table td.btn-action {
    width: 300px;
}

.table table td.btn-action div {
    display: flex;
    justify-content: center;
}

.table table td button.btn-delivered {
    color: white;
    background-color: #2e7d32;
    border-radius: 5px;
    border: 3px solid #1b5e20;
    width: 100px;
    height: 40px;
    font-size: 15px;
    padding: 0 10px 0 10px;
}

.table table td button.btn-delivered:hover {
    background-color: #359a3a;
}

.table table td button.btn-delivered:active {
    background-color: #1b5e20;
}

.table table td button.btn-cancelled {
    color: white;
    background-color: #b71c1c;
    border-radius: 5px;
    border: 3px solid #8a0602;
    width: 100px;
    height: 40px;
    font-size: 15px;
    padding: 0 10px 0 10px;
}

.table table td button.btn-cancelled:hover {
    background-color: #e72424;
}

.table table td button.btn-cancelled:active {
    background-color: #8a0602;
}

.table table td button.btn-pending {
    color: black;
    background-color: #ff8f00;
    border-radius: 5px;
    border: 3px solid #ff6f00;
    width: 100px;
    height: 40px;
    font-size: 15px;
    padding: 0 10px 0 10px;     
}

.table table td button.btn-pending:hover {
    background-color: #f69c26;
}

.table table td button.btn-pending:active {
    background-color: #ff6f00;
}

.table table td button.btn-pull {
    color: black;
    background-color: white;
    border-radius: 5px;
    border: 3px solid gray;
    width: 100px;
    height: 40px;
    font-size: 15px;
    padding: 0 10px 0 10px;
    margin-left: 3px;
}

.table table td button.btn-pull:hover {
    background-color: gray;
    color: white;
}

.table table td button.btn-pull:active {
    background-color: rgba(128, 128, 128, 0.84);
}








/* media query starts here*/
@media (max-width: 1025px) {
    #left {
        position: fixed;
        left: -300px;
        transition: 0.3s ease-in-out;
    }

    #left.toggleOn {
        left: 0px;
    }

    #right {
        width: 100%;
        margin-left: 0px;
        display: inline-block;
        transition: 0.3s ease-in-out;
    }

    #right.toggleOn {
        margin-left: 300px;
    }

    #right nav {
        width: 100%;
    }

    #side-toggler {
        display: initial;
    }
}

/* theme and effect configuration start here*/
.active {
    border-left: 5px solid white;
    background-color: #00000015;
}

.bg-a {
    background-color: #006e8c;
}

.bc-a {
    background-color: #006e8c;
    border: 3px solid #006e8c;
    border-radius: 5px;
}

.ic-a {
    background-color: none;
    color: #006e8c;
}

.fc-a {
    background-color: none;
    color: #ebebeb;
}

