body, html{
    padding: 0px;
    margin: 0px;
    height: 100%;
    
    font-family: sans-serif;
    scroll-behavior: smooth;

}

#header {
    background-color: #0d6efd;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    /* background-color: #ffc107; */
    width: 1024px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* main {
    width: 1024px;
    margin: 0px auto;
} */

#div-logo {
    width: 30%;
    /* background-color: #fd7e14; */
}

#ul-menu {
    /* background-color: #0dcaf0; */
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#ul-menu li a {
    color: #FFFFFF;
    text-decoration: none;
}


#section-cover {
    height:800px;
    background-image: url(../images/cover-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-personal {
    background-color:  #0dcaf0;
    width: 1024px;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#personal-image {
    height: 100%;
    width: 30%;
    background-image: url(../images/personal-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#personal-info {
    height: 100%;
    width: 70%;

}




#section-portfolio {
    margin-top: 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #7b7f83;
}

#div-portfolios {
    width: 1024px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#div-portfolios img {
    margin: 10px;
}

#section-services {
    margin-top: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ul-services {
    font-size: 30px;
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
    padding: 0px;
}
