:root{
    --base-light: rgb(242, 240, 240);
    --base-dark: rgb(80, 80, 80);
}

@font-face {
    font-family: bpreplay;
    src: url("../fonts/BPreplayExtended.otf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, li, a{
    font-family: bpreplay, helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

.page-division-nav{
    width: auto;
    height: 80px;
    background-color: black;
}

.page-division-generala{
    width: auto;
    height: 500px;
    background-color: var(--base-light);
    box-shadow: 10px 10px 20px var(--base-dark);
}

.page-division-generalb{
    width: auto;
    height: 500px;
    background-color: white;
    box-shadow: 1px 1px 3px var(--base-dark);
}

/* end of css design framework */

