@font-face {
    font-family: bpreplay;
    src: url("../fonts/BPreplayExtended.otf");
}
a, li, p, h1, h2, h3, h4, h5{
    font-family: bpreplay, Helvetica, sans-serif;
}
*{
    scroll-behavior: smooth;
}
.progress{
    height: 5px;
}