:root {
    --primary-light: #F5F7F8;
    --primary-dark: #495E57;
    --secondary-light: #F4CE14;
    --secondary-dark: #45474B;
    --base-dark: #000000;
    --base-light: #FFFFFF;
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

*   {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    height: 80px;
}

#nav-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

#nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

header>section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    margin-top: 65px;
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

section {
    margin-top: 20px;
}

header section.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header section.buttons #button-hire {
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
}

header section.buttons #button-download {
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
}

.font-basic {
    font-family: Roboto-Regular;
    color: var(--primary-light);
    text-decoration: none;
}

.font-basic1 {
    font-family: Roboto-Regular;
    color: var(--primary-light);
    text-decoration: none;
}

.font-basic1:hover {
    font-family: Roboto-Regular;
    color: var(--secondary-light);
    text-decoration: underline;
}

.font-basic2 {
    font-family: Roboto-Regular;
    color: var(--base-dark);
    text-decoration: none;
}

header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.684), rgba(0, 0, 0, 0.514) ), url("../images/creative_cv_header_bg.png");
    height: 480px;
}

header section.buttons #button-hire:hover {
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
    background-color: var(--secondary-light);
}

header section.buttons #button-download:hover {
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
    background-color: var(--secondary-light);  
}

header section.buttons #button-hire:active {
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
    background-color: blue;
}

header section.buttons #button-download:active {
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    height: 30px;
    background-color: blue;
}

.font-basic2:active {
    font-family: Roboto-Regular;
    color: var(--base-light);
    text-decoration: none;
}

.font-basic1:active {
    font-family: Roboto-Regular;
    color: blue;
    text-decoration: underline;
}

section img:hover {
    margin-top: 65px;
    height: 125px;
    width: 125px;
    border-radius: 10%;
}