:root {
    --primary-light: #F5F7F8;
    --primary-dark: #495E57;
    --secondary-light: #F4CE14;
    --secondary-dark: #45474B;
    --base-dark: #000000;
    --base-light: #FFFFFF;
}

/* coach help, I put the (Roboto-Medium.ttf) in the same folder with the style.css. I can't pull it up from the fonts folder. I tried using (./fonts/Roboto-Medium.ttf), it didn't work. I didn't show up on the website. Thanks */

@font-face {
    font-family: roboto-medium;
    src: url(Roboto-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/* also coach, I put the (creative_cv_header_bg.png) in the same folder with the style.css. I can't pull it up from the images folder. I tried using (./images/creative_cv_header_bg.png), it didn't work. I didn't show up on the website.Thanks */

.header-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.607) ),url(creative_cv_header_bg.png);
    height: 425px;
    width: 100vw;
    color: var(--primary-light);
    font-family: roboto-medium;
}

.header-menu {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    align-items: center;
}

.header-menu h2 {
    color: var(--primary-light);
    font-family: roboto-medium;
}

.header-menu div {
    display: flex;
}

.header-menu div a {
    padding-left: 7.5px;
    padding-right: 7.5px;
    text-decoration: none;
    color: var(--primary-light);
    font-family: roboto-medium;
}

.header-menu div a:hover {
    color: var(--secondary-light);
    font-family: roboto-medium;
}

.owner-info img {
    height: 125px;
    width: 125px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

.owner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-family: roboto-medium;
}


/* I can't make this work coach, I'm think doing it wrong.

.button-hire:hover {
    background-color: var(--secondary-light);
    color: var(--base-dark);
}

.button-hire:hover {
    background-color: var(--secondary-light);
    color: var(--base-dark);
}  */




